@model IEnumerable<IngredientViewModel>
@{
    ViewData["Title"] = "Malzemeler";
}

<div class="container-fluid p-3">
    <div class="row mb-3">
        <div class="d-flex align-items-end justify-content-between">
            <div class="px-3 py-2 fs-1 text-dark">
                @ViewData["Title"]
                <div class="fs-6 text-secondary">Manage the names and descriptions for all avaliabgle ingredient</div>
            </div>
            <div>
                <button class="btn btn-green" data-bs-toggle="modal" data-bs-target="#addIngredientModal">
                    <i class="bi bi-plus me-2"></i>Malzeme Ekle
                </button>
            </div>
        </div>
    </div>
    <div class="row gx-3 mb-3">
        <div class="col-12">
            <table border="1">
                <thead>
                    <tr>
                        <th>Malzeme Adı</th>
                        @* <th>Kategori</th> *@
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            @* <td>@item.Category</td> *@
                            <td>
                                <button data-bs-toggle="modal" data-bs-target="#editIngredientModal-@item.Id" class="btn">
                                    <i class="bi bi-pencil"></i>
                                </button>

                                <form asp-action="Delete" method="post" class="d-inline">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit" class="btn"
                                        onclick="return confirm('Bu malzemeyi silmek istediğine emin misin?');">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <partial name="_EditIngredientModal" model="item"></partial>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Toplam @ViewBag.IngredientCount malzeme görüntüleniyor</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<partial name="_AddIngredientModal"></partial>